/* FONTS */
/* SPACING UNITS */
.fadein {
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
  animation: fadein 1s; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

* {
  box-sizing: border-box; }

/* CONTAINERS */
.container {
  font-family: "Raleway", sans-serif;
  height: 100%;
  margin: 0 auto;
  max-width: 80rem;
  text-align: center;
  width: 100%; }

.section {
  display: flex;
  height: 100%;
  padding: 0 1.5rem;
  width: 100%; }

/* PARALLAX */
.parallax {
  background: transparent;
  height: 300px;
  width: 100%; }

@media only screen and (min-width: 48em) {
  .section {
    padding: 0 3rem; } }

@media only screen and (min-width: 64.0625em) {
  .section {
    padding: 0 3.75rem; } }

.container .section .column-m-1 {
  flex-basis: calc(1/12 * 100%);
  max-width: calc(1/12 * 100%);
  padding: 0 0.75rem;
  width: calc(1/12 * 100%); }

.container .section .column-m-2 {
  flex-basis: calc(2/12 * 100%);
  max-width: calc(2/12 * 100%);
  padding: 0 0.75rem;
  width: calc(2/12 * 100%); }

.container .section .column-m-3 {
  flex-basis: calc(3/12 * 100%);
  max-width: calc(3/12 * 100%);
  padding: 0 0.75rem;
  width: calc(3/12 * 100%); }

.container .section .column-m-4 {
  flex-basis: calc(4/12 * 100%);
  max-width: calc(4/12 * 100%);
  padding: 0 0.75rem;
  width: calc(4/12 * 100%); }

.container .section .column-m-5 {
  flex-basis: calc(5/12 * 100%);
  max-width: calc(5/12 * 100%);
  padding: 0 0.75rem;
  width: calc(5/12 * 100%); }

.container .section .column-m-6 {
  flex-basis: calc(6/12 * 100%);
  max-width: calc(6/12 * 100%);
  padding: 0 0.75rem;
  width: calc(6/12 * 100%); }

.container .section .column-m-7 {
  flex-basis: calc(7/12 * 100%);
  max-width: calc(7/12 * 100%);
  padding: 0 0.75rem;
  width: calc(7/12 * 100%); }

.container .section .column-m-8 {
  flex-basis: calc(8/12 * 100%);
  max-width: calc(8/12 * 100%);
  padding: 0 0.75rem;
  width: calc(8/12 * 100%); }

.container .section .column-m-9 {
  flex-basis: calc(9/12 * 100%);
  max-width: calc(9/12 * 100%);
  padding: 0 0.75rem;
  width: calc(9/12 * 100%); }

.container .section .column-m-10 {
  flex-basis: calc(10/12 * 100%);
  max-width: calc(10/12 * 100%);
  padding: 0 0.75rem;
  width: calc(10/12 * 100%); }

.container .section .column-m-11 {
  flex-basis: calc(11/12 * 100%);
  max-width: calc(11/12 * 100%);
  padding: 0 0.75rem;
  width: calc(11/12 * 100%); }

.container .section .column-m-12 {
  flex-basis: calc(12/12 * 100%);
  max-width: calc(12/12 * 100%);
  padding: 0 0.75rem;
  width: calc(12/12 * 100%); }

.container .section .row {
  margin: 0 -0.75rem; }

@media only screen and (min-width: 48em) {
  .container .section .column-t-1 {
    flex-basis: calc(1/12 * 100%);
    max-width: calc(1/12 * 100%);
    padding: 0 0.75rem;
    width: calc(1/12 * 100%); }
  .container .section .column-t-2 {
    flex-basis: calc(2/12 * 100%);
    max-width: calc(2/12 * 100%);
    padding: 0 0.75rem;
    width: calc(2/12 * 100%); }
  .container .section .column-t-3 {
    flex-basis: calc(3/12 * 100%);
    max-width: calc(3/12 * 100%);
    padding: 0 0.75rem;
    width: calc(3/12 * 100%); }
  .container .section .column-t-4 {
    flex-basis: calc(4/12 * 100%);
    max-width: calc(4/12 * 100%);
    padding: 0 0.75rem;
    width: calc(4/12 * 100%); }
  .container .section .column-t-5 {
    flex-basis: calc(5/12 * 100%);
    max-width: calc(5/12 * 100%);
    padding: 0 0.75rem;
    width: calc(5/12 * 100%); }
  .container .section .column-t-6 {
    flex-basis: calc(6/12 * 100%);
    max-width: calc(6/12 * 100%);
    padding: 0 0.75rem;
    width: calc(6/12 * 100%); }
  .container .section .column-t-7 {
    flex-basis: calc(7/12 * 100%);
    max-width: calc(7/12 * 100%);
    padding: 0 0.75rem;
    width: calc(7/12 * 100%); }
  .container .section .column-t-8 {
    flex-basis: calc(8/12 * 100%);
    max-width: calc(8/12 * 100%);
    padding: 0 0.75rem;
    width: calc(8/12 * 100%); }
  .container .section .column-t-9 {
    flex-basis: calc(9/12 * 100%);
    max-width: calc(9/12 * 100%);
    padding: 0 0.75rem;
    width: calc(9/12 * 100%); }
  .container .section .column-t-10 {
    flex-basis: calc(10/12 * 100%);
    max-width: calc(10/12 * 100%);
    padding: 0 0.75rem;
    width: calc(10/12 * 100%); }
  .container .section .column-t-11 {
    flex-basis: calc(11/12 * 100%);
    max-width: calc(11/12 * 100%);
    padding: 0 0.75rem;
    width: calc(11/12 * 100%); }
  .container .section .column-t-12 {
    flex-basis: calc(12/12 * 100%);
    max-width: calc(12/12 * 100%);
    padding: 0 0.75rem;
    width: calc(12/12 * 100%); } }

@media only screen and (min-width: 64.0625em) {
  .container .section .column-d-1 {
    flex-basis: calc(1/12 * 100%);
    max-width: calc(1/12 * 100%);
    padding: 0 0.75rem;
    width: calc(1/12 * 100%); }
  .container .section .column-d-2 {
    flex-basis: calc(2/12 * 100%);
    max-width: calc(2/12 * 100%);
    padding: 0 0.75rem;
    width: calc(2/12 * 100%); }
  .container .section .column-d-3 {
    flex-basis: calc(3/12 * 100%);
    max-width: calc(3/12 * 100%);
    padding: 0 0.75rem;
    width: calc(3/12 * 100%); }
  .container .section .column-d-4 {
    flex-basis: calc(4/12 * 100%);
    max-width: calc(4/12 * 100%);
    padding: 0 0.75rem;
    width: calc(4/12 * 100%); }
  .container .section .column-d-5 {
    flex-basis: calc(5/12 * 100%);
    max-width: calc(5/12 * 100%);
    padding: 0 0.75rem;
    width: calc(5/12 * 100%); }
  .container .section .column-d-6 {
    flex-basis: calc(6/12 * 100%);
    max-width: calc(6/12 * 100%);
    padding: 0 0.75rem;
    width: calc(6/12 * 100%); }
  .container .section .column-d-7 {
    flex-basis: calc(7/12 * 100%);
    max-width: calc(7/12 * 100%);
    padding: 0 0.75rem;
    width: calc(7/12 * 100%); }
  .container .section .column-d-8 {
    flex-basis: calc(8/12 * 100%);
    max-width: calc(8/12 * 100%);
    padding: 0 0.75rem;
    width: calc(8/12 * 100%); }
  .container .section .column-d-9 {
    flex-basis: calc(9/12 * 100%);
    max-width: calc(9/12 * 100%);
    padding: 0 0.75rem;
    width: calc(9/12 * 100%); }
  .container .section .column-d-10 {
    flex-basis: calc(10/12 * 100%);
    max-width: calc(10/12 * 100%);
    padding: 0 0.75rem;
    width: calc(10/12 * 100%); }
  .container .section .column-d-11 {
    flex-basis: calc(11/12 * 100%);
    max-width: calc(11/12 * 100%);
    padding: 0 0.75rem;
    width: calc(11/12 * 100%); }
  .container .section .column-d-12 {
    flex-basis: calc(12/12 * 100%);
    max-width: calc(12/12 * 100%);
    padding: 0 0.75rem;
    width: calc(12/12 * 100%); } }

.nav {
  background: white;
  border-bottom: 1px solid #6fbf64;
  font-family: "Raleway", sans-serif;
  height: 3.5rem;
  position: fixed;
  width: 100%;
  z-index: 2; }
  .nav .nav-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%; }
  .nav .nav-title {
    color: #000;
    font-size: 1.5rem;
    text-decoration: underline;
    transition: color 0.5s ease;
    flex-grow: 4;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: left; }
    .nav .nav-title:hover {
      color: #6fbf64; }
  .nav .nav-links {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    list-style: none;
    padding: 0; }
    .nav .nav-links .nav-link,
    .nav .nav-links .mobile-link {
      color: #000;
      font-size: 1.5rem;
      text-decoration: underline;
      transition: color 0.5s ease;
      display: none;
      font-size: 1.125rem;
      text-decoration: none; }
      .nav .nav-links .nav-link:hover,
      .nav .nav-links .mobile-link:hover {
        color: #6fbf64; }
    .nav .nav-links .mobile-link {
      display: block; }

@media only screen and (min-width: 48em) {
  .nav .nav-links .nav-link {
    display: block; } }

.hero {
  background-image: url(https://s3.amazonaws.com/jc-website-assets/computer.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  padding-top: 3.5rem;
  width: 100%; }

.hero-wrapper {
  align-items: center;
  display: flex;
  width: 100%; }

.hero-title {
  align-items: center;
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;
  padding: 3rem 1.5rem;
  width: 100%; }
  .hero-title h1 {
    font-family: "Raleway", sans-serif;
    font-size: 3rem;
    margin-bottom: 0.75rem; }
  .hero-title p {
    color: #6fbf64;
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem; }

@media only screen and (min-width: 48em) {
  .hero-wrapper {
    align-items: flex-start; }
  .hero-title {
    align-items: flex-end;
    background: transparent;
    padding: 5.25rem 0 0; }
    .hero-title h1 {
      font-size: 3.75rem;
      margin: 0; } }

@media only screen and (min-width: 64.0625em) {
  .hero-title h1 {
    font-size: 5.25rem; } }

#about {
  width: 100%;
  margin: 5.25rem 0;
  font-family: "Raleway", sans-serif; }
  #about .about-content {
    margin: 0 auto;
    width: 100%; }
  #about .main-headshot {
    background: url(https://s3.amazonaws.com/jc-website-assets/headshot.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #6fbf64;
    border-radius: 50%;
    height: 12.5rem;
    margin: 0 auto;
    max-width: 100%;
    width: 12.5rem; }
  #about .about-main-header {
    border-bottom: 1px solid #6fbf64;
    font-size: 1.5rem;
    margin: 1.5rem 0 2.25rem;
    padding-bottom: 1.5rem; }
  #about .skills-icons {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.25rem; }
    #about .skills-icons-group {
      display: flex;
      flex-grow: 1;
      justify-content: space-around; }
      #about .skills-icons-group:first-child {
        margin-bottom: 1.5rem; }
    #about .skills-icons .tech-icon {
      height: 3.75rem; }
      #about .skills-icons .tech-icon path {
        fill: #000; }
  #about .about-text-wrapper {
    margin: 0 auto;
    text-align: justify; }
    #about .about-text-wrapper .about-text {
      font-size: 1.125rem;
      margin-bottom: 1.5rem; }
      #about .about-text-wrapper .about-text:last-child {
        margin: 0; }
      #about .about-text-wrapper .about-text a {
        color: #000;
        font-size: 1.5rem;
        text-decoration: underline;
        transition: color 0.5s ease;
        font-size: 1.125rem; }
        #about .about-text-wrapper .about-text a:hover {
          color: #6fbf64; }

@media only screen and (min-width: 48em) {
  #about .main-headshot {
    height: 18.75rem;
    width: 18.75rem; }
  #about .about-main-header {
    font-size: 2.25rem; } }

@media only screen and (min-width: 64.0625em) {
  #about .skills-icons {
    flex-direction: row; }
    #about .skills-icons-group:first-child {
      margin: 0; } }

#projects {
  margin-top: 5.25rem; }

.projects-container .projects-header {
  border-bottom: 1px solid #6fbf64;
  margin-bottom: 3rem;
  padding-bottom: 1.5rem;
  text-align: center; }
  .projects-container .projects-header h1 {
    font-size: 2.25rem; }

.projects-container .projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .projects-container .projects-list .project {
    flex-grow: 1;
    margin-bottom: 2.25rem;
    position: relative; }
  .projects-container .projects-list .project-wrapper {
    align-items: center;
    border: 1px solid #cccccc;
    box-shadow: 1px 2px 1px 1px #cccccc;
    display: flex;
    height: 100%;
    justify-content: space-between;
    padding: 1.5rem; }
  .projects-container .projects-list .project-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: left; }
    .projects-container .projects-list .project-info .project-info-text {
      margin-bottom: 1.125rem; }
    .projects-container .projects-list .project-info .info-title {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 1.5rem; }
    .projects-container .projects-list .project-info .info-text {
      font-size: 1.125rem;
      margin-bottom: 0.75rem; }
    .projects-container .projects-list .project-info .tech {
      font-size: 0.75rem; }
      .projects-container .projects-list .project-info .tech-title {
        color: #6fbf64; }
  .projects-container .projects-list .project-links {
    display: flex;
    margin-top: auto; }
    .projects-container .projects-list .project-links .source-link,
    .projects-container .projects-list .project-links .live-link {
      border-radius: 5%;
      display: flex;
      font-size: 1.125rem;
      margin-right: 0.75rem;
      padding: 0.375rem 1.125rem;
      text-decoration: none;
      transition: color 0.5s ease, background-color 0.5s ease; }
    .projects-container .projects-list .project-links .live-link {
      border: 1px solid #000;
      color: #000; }
      .projects-container .projects-list .project-links .live-link:hover {
        color: #fff;
        background-color: #000; }
    .projects-container .projects-list .project-links .source-link {
      border: 1px solid #6fbf64;
      color: #6fbf64; }
      .projects-container .projects-list .project-links .source-link:hover {
        color: #fff;
        background-color: #6fbf64; }
  .projects-container .projects-list .project-img {
    display: none; }
    .projects-container .projects-list .project-img img {
      width: 21.875rem; }

@media only screen and (min-width: 64.0625em) {
  .projects-container .projects-list .project-img.show {
    display: block; } }

#contact {
  margin: 5.25rem 0 1.5rem; }

.contact-container {
  width: 100%; }
  .contact-container .contact-title {
    font-size: 2.25rem;
    font-weight: 600;
    margin-bottom: 2.25rem; }
  .contact-container .contact-email,
  .contact-container .contact-logos {
    max-width: 22.5rem; }
  .contact-container .contact-email {
    color: #000;
    font-size: 1.5rem;
    text-decoration: underline;
    transition: color 0.5s ease;
    display: block;
    margin: 0 auto 1.5rem;
    text-decoration: none; }
    .contact-container .contact-email:hover {
      color: #6fbf64; }
  .contact-container .contact-logos {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto 3rem; }
    .contact-container .contact-logos a {
      color: #000;
      font-size: 1.5rem;
      text-decoration: underline;
      transition: color 0.5s ease;
      text-decoration: none; }
      .contact-container .contact-logos a:hover {
        color: #6fbf64; }
      .contact-container .contact-logos a:hover {
        fill: #6fbf64;
        transition: fill 0.5s ease; }
      .contact-container .contact-logos a svg {
        height: 2.625rem;
        width: 2.625rem; }
  .contact-container .copyright {
    font-size: 0.75rem; }
