header {
  float: top;
}

a:hover {
  color: #8bbd84;
}

.nav {
  list-style: none;
  display: inline;
}

.nav-reg{
  font-size: 1em;
  font-style: sans-serif;
  color: #6f8aa8;
  margin: 2em 2em 2em 2em;
  text-decoration: none;
}

#main-name {
  font-size: 2em;
  font-style: sans-serif;
  color: 163961;
  margin: 2em 2em 2em 2em;
  text-decoration: none;
}

#upcase {
  font-size: 3em
  color: 163961;
  font-style: sans-serif;
  text-decoration: none;
}

.keyword-dev {
  float: left;
  width: 50%
  vertical-align: middle;
}

.keyword-create {
  float: right;
  width: 50%
  vertical-align: middle;
}

footer {
  float: bottom;
  padding-bottom: 2em;
  vertical-align: middle;
  display: inline;
}

.button {
  border-radius: 50%
  width: 20px;
  height: 20px;
}

#git {
  color: black;
}

#linkedin {
  color: white;
}

#facebook {
  color: blue;
}

#mail {
  color: grey;
}