header {
  float: top;
  padding-top: 2em;
  align-items: center;
}

.nav {
  list-style: none;
}

.nav li {
  display: inline;
  font-size: 1em;
  font-family: sans-serif;
  margin: 1em 1em 1em 1em;
}

.nav #main-name {
  font-size: 3em;
  font-family: sans-serif;
  margin: .75em .75em .75em .75em;
}

a {
  text-decoration: none;
  color: #103d6f;
}

a:visited {
  color: #103d6f;
}

a:hover {
  color: #6fbf64;
}

footer {
  clear: both;
  display: inline-block;
  padding-top: 70em;
  padding-left: 18em;
}

footer > ul {
  list-style: none;
}

.links li {
  display: inline;
  font-size: 1em;
  font-family: sans-serif;
  margin: 1em 1em 1em 1em;
}

