---
layout: page
title: projects
permalink: /projects/
---

<div class="projects">
{% for project in site.data.projects %}
  <div class="project-container">
    <h1>{{ project.title }}</h1>
    {% if project.live_url %}
    <p class="code-links"><a href="{{ project.live_url }}">Live Site</a> // <a href="{{ project.source_url }}">Source Code</a></p>
    {% else %}
      <p class="code-links"><a href="{{ project.source_url }}">Source Code</a></p>
    {% endif %}

    <p>{{ project.description }}</p>
  </div>
{% endfor %}
</div>