<!-- About Section -->
<section id="about" class="container content-section text-center about-section">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2 class="section-header about-header">about me</h2>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
             <img  id="my-picture" src="../img/john-headshot.jpg"/>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <p id="about-text">
                  I build apps and tools using various languages and frameworks including React, Redux, Webpack, JavaScript, Rails and Bootstrap. I have a passion for design and love working the full stack to create meaningful projects. When not coding, I'm geeking out at a beer bar, hitting the slopes or catching the latest indie flick.
                </p>
            </div>
        </div>
    </div>
</section>

<div class="border-bottom container">
</div>
