<!-- About Section -->
<section id="about" class="container content-section text-center about-section">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2 class="section-header about-header">about me</h2>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
             <img  id="my-picture" src="../img/john-headshot.jpg"/>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <p id="about-text">I am a developer with experience building apps using various languages and frameworks such as Ruby, JavaScript, Rails, Bootstrap, Materialize, HTML, CSS and Sinatra. I have a passion for design and love working the full stack to create meaningful projects. When not coding, I'm geeking out at a beer bar, hitting the slopes or catching the latest indie flick.</p>
            </div>
        </div>
    </div>
</section>

<div class="border-bottom container">
</div>