<!-- Projects Section -->
<section id="projects" class="content-section text-center projects-section">
    <h2 class="section-header">Projects</h2>
    <div class="container">
        <div class="row">
          {% for project in site.data.projects %}
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 project-container">
            <h1 class="project-title">{{ project.title }}</h1>
            {% if project.live_url %}
            <p class="code-links"><a href="{{ project.live_url }}">live site</a> // <a href="{{ project.source_url }}">source code</a></p>
            {% else %}
              <p class="code-links"><a href="{{ project.source_url }}">source code</a></p>
            {% endif %}

            <p class="project-description">{{ project.description }}</p>
          </div>
          {% endfor %}
          <div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 project-container">
            <h1 class="project-title">JavaScript Games</h1>
            <p class="code-links"><a href="https://github.com/jmcolella/javascript-games">source code</a></p>
            <p class="project-description">Use vanilla JavaScript along with the JQuery and Underscore.js libraries to build the games Connect Four and Tic Tac Toe. Institute principles of Object-Oriented JavaScript to maintain state and determine logic for winning each game.</p>
          </div>
        </div>
    </div>
</section>

<div id="project-bg">
</div>