/*** BLOG ***/
.blog {
  text-align: left;

  @include media-query( #{map-get( $breakpoints, 'small' )} ) {
    margin-left: 40px;
  }
}

.blog-title,
.post-title {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $lime-green;
}

.blog-list {
  list-style: none;

  li {
    margin-left: 30px;
  }

  .dividing-month {
    &:not( :first-child ) {
      margin-top: 35px;
    }
  }

  .blog-post-link {
    cursor: pointer;
  }
}

.blog-back-link {
  margin-top: 20px;
  text-align: right;
}
