/*** INDEX ***/

// Main image
.main-image {
  width: 100%;
  height: 90vh;
  position: relative;
  padding-top: 100px;
  background-image: url( ../img/computer.jpg );
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.main-title {
  position: relative;
  margin-top: 125px;
  padding: 30px 0;
  text-align: center;
  background: rgba(255,255,255,0.4);

  @include media-query-bound( #{map-get( $breakpoints, 'tiny' )}, 374px ) {
    margin-top: 70px;
  }

  @include media-query( #{map-get( $breakpoints, 'x-small' )} ) {
    top: 94px;
  }

  @include media-query( #{map-get( $breakpoints, 'small' )} ) {
    margin-top: 0;
    margin-right: 20px;
    background: transparent;
    text-align: right;
  }

  @include media-query( #{map-get( $breakpoints, 'large' )} ) {
    margin-right: 0;
  }

  h1 {
    margin-bottom: 0;
    font-family: $primary-font;
    font-size: 55px;

    @include media-query( #{map-get( $breakpoints, 'medium' )} ) {
      font-size: 80px;
    }

    @include media-query-bound( #{ map-get( $breakpoints, 'x-small' ) }, 991px ) {
      font-size: 75px;
    }

    @include media-query-bound( #{ map-get( $breakpoints, 'x-small' ) }, 479px ) {
      font-size: 60px;
    }
  }

  p {
    margin-top: -10px;
    color: $lime-green;
    font-family: $primary-font;
    font-size: 25px;

    @include media-query( #{map-get( $breakpoints, 'x-small' )} ) {
      font-size: 30px;
    }
  }
}

// About section
#about {
  width: 100%;
  margin: 100px 0 50px 0;
  font-family: $primary-font;

  .main-headshot {
    height: 200px;
    border: 1px solid $lime-green;
    border-radius: 50%;

    @include media-query( #{ map-get( $breakpoints, 'x-small' ) } ) {
      height: 300px;
    }
  }

  h1 {
    border-bottom: 1px solid $lime-green;
    padding: 30px 0;
  }

  .skills-icons {
    margin-top: 30px;

    .tech-icon {
      height: 75px;
      width: 8%;
      margin-bottom: 20px;

      path {
        fill: $black;
      }
    }
  }

  .about-text {
    max-width: 950px;
    margin: 0 auto;
    text-align: justify;
  }
}

// Not in use
// .scroll-icon {
//   position: relative;
//   width: 100%;
//   height: 60px;
//   top: 50%;
//
//   @include media-query( #{map-get( $breakpoints, 'small' )} ) {
//     top: 87%;
//   }
//
//   .fa-arrow-circle-o-down {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     transition: color 0.5s ease;
//     cursor: pointer;
//
//     &:hover {
//       color: $lime-green;
//     }
//   }
// }
