/* CONTAINERS */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-family: $primary-font;
}

.section {
  padding: 0 15px;
  box-sizing: border-box;
}

// this is for sticky footer; content is a 'container' for all of the content
.content {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 85%;
}
