#about {
  display: block;
  /*border-bottom: 3em solid #6fbf64;*/
}

#image {
  display: inline-block;
  position: relative;
  float: left;
  width: 35%;
  margin-top: 5em;
  margin-left: 3em;
  text-align: center;
}

#image > img {
  display: block;
  border-radius: 50%;
  width: 75%;
  margin: auto;
}

.resume-link a {
  color: #103d6f;
  text-decoration: none;
}

.resume-link a:visited {
  color: #103d6f;
}

.resume-link a:hover {
  color: #6fbf64;
}

.font {
    font-family: 'Ubuntu', sans-serif;
    color: #103d6f;
}

.text {
  display:inline-block;
  position: relative;
  float: right;
  width: 49%;
  border: 2px solid #6fbf64;
  margin-right: 6em;
  margin-top: 5em;
  margin-bottom: 4em;

}

#about-head-text {
  font-weight: bolder;
  font-size: 1.5em;
  text-align: center;
  color: #6fbf64;
}

#about-text {
  padding-left: 3em;
  padding-right: 3em;
  text-align: justify;
}


@media only screen and (max-width: 1100px) and (min-width: 800px) {
    #image {
    display: inline-block;
    position: fixed;
    float: left;
    width: 35%;
    margin-top: 2em;
    margin-left: 0em;
    text-align: center;
  }
  .text {
    display:inline-block;
    position: relative:;
    float: right;
    width: 60%;
    border: 2px solid #6fbf64;
    margin-right: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  #about-text {
    font-size: 1em;
    margin-right: 2em;
    margin-left: 2em;
  }
}

@media only screen and (max-width: 800px) and (min-width: 460px) {
  #image {
    display: inline-block;
    position: fixed;
    float: left;
    width: 35%;
    margin-top: 2em;
    margin-left: 2em;
    text-align: center;
  }
  .text {
    display:inline-block;
    position: relative:;
    float: right;
    width: 60%;
    border: 2px solid #6fbf64;
    margin-right: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  #head-text {
    font-size: 1em;
  }
  #about-text {
    font-size: 1em;
    margin-right: 2em;
    margin-left: 2em;
  }
}

@media only screen and (max-width: 799px) and (min-width: 741px) {
  #image {
    display: block;
    position: relative;
    float: none;
    margin: auto;
    padding-top: 2em;
    width: 50%;
  }
  .text {
    display: block;
    position: relative;
    float: none;
    width: 100%;
  }
}

@media only screen and (max-width: 740px) and (min-width: 451px) {
  #image {
    display: inline-block;
    position: fixed;
    float: left;
    width: 35%;
    margin-top: 2em;
    margin-left: 0em;
    text-align: center;
  }
  .text {
    display:inline-block;
    position: relative:;
    float: right;
    width: 60%;
    border: 2px solid #6fbf64;
    margin-right: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  #about-text {
    font-size: .75em;
    margin-right: 2em;
    margin-left: 2em;
  }
}

@media only screen and (max-width: 450px) and (min-width: 300px) {
  #image {
    display: block;
    position: relative;
    float: none;
    margin: auto;
    padding-top: 2em;
    width: 50%;
  }
  .text {
    display: block;
    position: relative;
    float: none;
    width: 90%;
    margin-right: 1em;
    margin-left: 1em;
  }
  #head-text {
    font-size: .5em;
  }
  #about-text {
    font-size: .25em;
    margin-right: 2em;
    margin-left: 2em;
  }
}


