body {
  background-image: none;
  background: linear-gradient(to left, rgba(157, 166, 176, .40), rgba(157, 166, 176, 0));
}

main {
  padding-top: 2em;
}

.top {
  display: block;
  position: static;
  margin-left: 2em;
  color: #103d6f;
}

#top-title {
  font-family: 'Ubuntu', sans-serif;
}

/*sub-title used to be an id for a title underneath the Blog heading, but it has been commented out in the HTML*/
sub-title {
/*  font-size: 1em;
  font-family: 'Ubuntu', sans-serif;*/
}


#line {
  border-top: 1px solid #103d6f;
  margin-left: 2em;
}

.blog-links {
  /*list-style: none;*/
  /*display: inline-block;*/
  font-family: 'Ubuntu', sans-serif;
  padding-top: 1em;
  margin-left: 10em;
  border-spacing: 3em;
}

.blog-links td {
  /*display: inline-block;*/
  margin: 0em 3em 3em 3em;
  padding: 3em;
  border: 2px solid #6fbf64;
  /*border-radius: 10%;*/
  color: #6fbf64;
  text-align: center;
}

.blog-links td:hover {
  background-color: #6fbf64;
  border: 1px solid #6fbf64;
}

.blog-links tr:visited {
  color: white;
}

.blog-links tr a:hover {
  color: white;
}


