body {
  background-image: none;
  background: linear-gradient(to left, rgba(157, 166, 176, .40), rgba(157, 166, 176, 0));
}

main {
  padding-top: 2em;
}

.top {
  display: block;
  position: static;
  margin-left: 2em;
  color: #103d6f;
}

#top-title {
  font-family: 'Ubuntu', sans-serif;
}

/*sub-title used to be an id for a title underneath the Blog heading, but it has been commented out in the HTML*/
sub-title {
/*  font-size: 1em;
  font-family: 'Ubuntu', sans-serif;*/
}

.blog-links {
  list-style: none;
  font-family: 'Ubuntu', sans-serif;
  margin-left: 2em;
  border-top: 1px solid #103d6f;
}

.blog-links li {
  margin: 1em;
}


