body {
  background-image: none;
  background: linear-gradient(to left, rgba(157, 166, 176, .40), rgba(157, 166, 176, 0));
}


.font {
    font-family: 'Ubuntu', sans-serif;
    color: #103d6f;
}

.text-over {
  margin-left: 8em;
}

main {
  padding-top: 2em;
}

h2 {
  font-size: 2em;
  font-weight: bold;
}

h3 {
  font-size: 1em;
}

h4 {
  font-size: .75em;
}

#line {
  border-bottom: 1px solid #103d6f;
  margin-left: 4.5em;
}

article {
  margin-right: 6em;
}

.strong {
  font-size: 1.25em;
  font-weight: bold;
  text-decoration: underline;
}

p {
  font-size: 1em;
  text-align: justify;
}

.foot-container {
  position: relative;
  margin-top: 10em;
  text-align: center;
  width:100%;
}

.foot-links {
  position: absolute;
  list-style: none;
  text-align: center;
}

code {
  color: black;
}

.indent-code {
  margin-left: 3em;
  display: block;
}

.code-space {
  padding-top: 1em;
}

.block-indent {
  margin-left: 4em;
}