.head-container {
  display: block;
  background-color: rgba(157, 166, 176, .25);
  box-shadow: .15em .15em .25em gray;
  width:100%;
  position: relative;
  top: 0;
  margin-top: -.5em;
  margin-left: -.5em;
  padding-right: 1em;

}

nav {
  overflow: auto;
}

h1 {
  display: inline-block;
  top: 0;
  left: 1em;
  font-size: 2em;
  font-family: 'Oxygen', sans-serif;
  margin: .75em .75em .75em 1.5em;
}

.head-links {
  display: inline-block;
  position: absolute;
  top: .5em;
  right: 0em;
  list-style: none;
}

.head-links li {
  display: inline-block;
  font-size: 1em;
  font-family: 'Ubuntu', sans-serif;
  margin: 1em 1em 1em 1em;
}

#last-nav {
  margin-right: 2em;
}

#current-page a:visited {
  /*color: #103d6f;*/
  color:#6fbf64;
}

a {
  text-decoration: none;
  color: #103d6f;
  /*color: white;*/
}

a:visited {
  color: #103d6f;
  /*color: white;*/
}

a:hover {
  color: #6fbf64;
  transition: color 0.5s ease;
  /*color: #103d6f;*/
}

main {
  padding-top: 2em;
}

.blog-links a {
  transition: none;
  color: #103d6f;
}

.blog-links {
  font-family: 'Ubuntu', sans-serif;
  margin-left: 10em;
  border-spacing: 3em;
}

.blog-links td {
  /*display: inline-block;*/
  margin: 0em 3em 3em 3em;
  padding: 3em;
  border: 2px solid #6fbf64;
  color: #6fbf64;
  text-align: center;
}

.blog-links td:hover {
  transition: background-color .5s ease;
  background-color: #6fbf64;
  border: 1px solid #6fbf64;
}

.blog-links tr:visited {
  color: white;
}

.blog-links tr a:hover {
  color: white;
}

@media only screen and (max-width: 400px) and (min-width: 300px) {
  table, tbody, tr, td {
    display: block;
  }
}

@media only screen and (max-width: 450px) {
  .blog-links {
    margin-left: 0em;
    border-spacing: 1em;
  }
  .blog-links td {
    padding: 2em;
    font-size: .5em;
  }
}

@media only screen and (max-width: 800px) {
  .blog-links {
    margin-left: 0em;
    border-spacing: 1em;
  }
  .blog-links td {
    padding: 3em;
  }
}