.head-container {
  display: block;
  background-color: rgba(157, 166, 176, .25);
  box-shadow: .15em .15em .25em gray;
  width:100%;
  position: relative;
  top: 0;
  margin-top: -.5em;
  margin-left: -.5em;
  padding-right: 1em;
}

nav {
  overflow: auto;
}

h1 {
  display: inline-block;
  top: 0;
  left: 1em;
  font-size: 2em;
  font-family: 'Oxygen', sans-serif;
  margin: .75em .75em .75em 1.5em;
}

.head-links {
  display: inline-block;
  position: absolute;
  top: .5em;
  right: 0em;
  list-style: none;
}

.head-links li {
  display: inline-block;
  font-size: 1em;
  font-family: 'Ubuntu', sans-serif;
  margin: 1em 1em 1em 1em;
}

#last-nav {
  margin-right: 2em;
}

#current-page a:visited {
  /*color: #103d6f;*/
  color:#6fbf64;
}

a {
  text-decoration: none;
  color: #103d6f;
  /*color: white;*/
}

a:visited {
  color: #103d6f;
  /*color: white;*/
}

a:hover {
  color: #6fbf64;
  transition: color 0.5s ease;
  /*color: #103d6f;*/
}

.font {
    font-family: 'Ubuntu', sans-serif;
    color: #103d6f;
}

.text-over {
  margin-left: 2em;
}

.post-nav {
  display: inline-block;
  float: right;
  margin-right: 6em;
  margin-top: 1em;
  /*margin-bottom: 1em;*/
}

.post-nav ul {
  list-style: none;
}

.post-nav a {
  text-decoration: none;
}

.post-nav a:visited {
  color: #103d6f
}

.post-nav a:hover {
  color: #6fbf64
}

main {
  margin-top: 4em;
  margin-left: 6em;
  margin-right: 6em;
  margin-bottom: -1em;
  border: 2px solid #6fbf64;
}

.header {
  display: block;
  text-align: center;
  color: #6fbf64;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: .75em;
  color: #103d6f;
}

h4 {
  font-size: .75em;
  color: #103d6f;
}

#line {
  border-bottom: 1px solid #6fbf64;
}

article {
  margin-right: 6em;
  margin-left: 2em;
  padding-bottom: 1em;
}

.strong {
  font-size: 1.25em;
  font-weight: bold;
  text-decoration: underline;
}

p {
  font-size: 1em;
  text-align: justify;
}

code {
  color: black;
}

.indent-code {
  margin-left: 3em;
  display: block;
}

.indent-code-level-1 {
  margin-left: 4em;
  display: block;
}

.indent-code-level-2 {
  margin-left: 5em;
  display: block;
}

.code-space {
  padding-top: 1em;
}

.block-indent {
  margin-left: 4em;
}

@media screen and (max-width: 450px) {
  .text-over {
    margin-left: 0em;
  }
  main {
    margin-top: 2em;
    margin-left: .5em;
    margin-right: .5em;
  }
  article {
    margin-right: 2em;
  }
  .header {
    text-align: center;
    margin: auto;
  }
  .media {
    display: block;
    text-align: center;
  }
  h2 {
    font-size: .75em;
  }
  h3 {
    font-size: .5em;
  }
  h4 {
    font-size: .5em;
  }
  p {
    font-size: .5em;
  }
  .strong {
    font-size: .75em;
  }
  code {
    font-size: .5em;
  }
  .indent-code {
    margin-left: 1em;
  }
  .indent-code-level-1 {
    margin-left: 2em;
  }
  .indent-code-level-2 {
    margin-left: 3em;
  }
  img {
    height: 50%;
    width: 50%;
  }
  .post-nav {
    font-size: .5em;
    margin-right: 1em;
  }
}

@media screen and (max-width: 800px) {

  main {
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
  }
  .post-nav {
    font-size: .5em;
    margin-right: 2em;
  }
}
