.font {
    font-family: 'Ubuntu', sans-serif;
    color: #103d6f;
}

.head-container {
  text-align: center;
  border-bottom: 2px solid #6fbf64;
}

h2 {
  font-family: 'Oxygen', sans-serif;
  font-size: 2em;
  color: #6fbf64;
}

h3 {
  font-size: .75em;
  color: #103d6f;
}

h4 {
  font-size: .75em;
  color: #103d6f;
}

main {
  display: flex;
}


.left {
  float: left;
  width: 40%;
}

.right {
  float: right;
  width: 40%;
}


.box {
  margin-top: 2em;
  padding: 2em;
  border: 2px solid #6fbf64;

}

article {
  margin-right: 6em;
  margin-left: 2em;
  padding-bottom: 1em;
}

.strong {
  font-size: 1.5em;
  font-weight: bold;
  color: #6fbf64;
}

.box-header {
  text-align: center;
}

span {
  text-decoration: underline;
  color: #6fbf64;
}

p {
  font-size: 1em;
  text-align: justify;
}

code {
  color: #f45a5a;
  /*color: #f0b171;*/
  /*border: .5px solid #f45a5a;*/
}

li {
  padding: .2em;
}

.list-indent {
  list-style: none;
}

.resources {
  list-style: none;
}

.resources a {
  text-decoration: none;
}

.resources a:visited {
  color: #103d6f;
}

.resources a:hover {
  color: #6fbf64;
}
