.font {
    font-family: 'Ubuntu', sans-serif;
    color: #103d6f;
}

form {
  margin-top: 2em;
}

fieldset {
  border: 2px solid #6fbf64;
  width: 40em;
  margin: auto;
  margin-top: 4em;
}

fieldset > legend {
  color: #103d6f;
  font-family: 'Oxygen', sans-serif;
}

fieldset > .input-field {
  display: block;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  height: 2em;
  width: 20em;
  border: 1px solid #6fbf64;
}

fieldset > textarea {
  display: block;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  height: 10em;
  width: 20em;
  border: 1px solid #6fbf64;
  /*color: #103d6f;*/
  font-family: 'Oxygen', sans-serif;
}

#send-button {
  display: block;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  height: 3em;
  width: 5em;
  border: 1px solid #6fbf64;
  background-color: white;
  color: #103d6f;
  font-family: 'Oxygen', sans-serif;
  cursor: pointer;
}

#send-button:hover {
  transition: color .5s ease;
  transition: background-color .5s ease;
  background-color: #6fbf64;
  color: white;
}

::-webkit-input-placeholder {
   /*color: #103d6f;*/
   font-family: 'Oxygen', sans-serif;
}

:-moz-placeholder { /* Firefox 18- */
   /*color: #103d6f;*/
   font-family: 'Oxygen', sans-serif;
}

::-moz-placeholder {  /* Firefox 19+ */
   /*color: #103d6f;*/
   font-family: 'Oxygen', sans-serif;
}

:-ms-input-placeholder {
   /*color: #103d6f;*/
   font-family: 'Oxygen', sans-serif;
}


.social-buttons-container {
  padding-top: 2em;
  position: relative;
  margin: auto;
  text-align: center;
  width:100%;
}

.social-links {
  position: relative;
  width:100%;
  text-align: center;
  margin: auto;
}

.social-links a {
  display: inline-block;
  margin-right: 2em;
}

.icon {
  display: inline-block;
  width: 4em;
}

@media only screen and (max-width: 750px) and (min-width: 451px) {
  fieldset {
    width: 30em;
  }
  .social-links a {
    margin-right: 1em;
  }
  .icon {
    width: 3em;
  }
}

@media only screen and (max-width: 450px) and (min-width: 330px) {
  fieldset {
    width: 18em;
  }
  .social-links a {
    margin-right: 1em;
  }
  .icon {
    width: 2em;
  }
}

@media only screen and (max-width: 329px) {
    fieldset {
    width: 10em;
  }
  .social-links a {
    margin-right: 1em;
  }
  .icon {
    width: 2em;
  }
}

