body {
  background-image: none;
  background: linear-gradient(to left, rgba(157, 166, 176, .40), rgba(157, 166, 176, 0));
}

.font {
    font-family: 'Ubuntu', sans-serif;
    color: #103d6f;
}

#address {
  position: relative;
  text-align: center;
  border: 2px solid #6fbf64;
  font-family: 'Oxygen', sans-serif;
  color: #103d6f;
  font-size: 1.75em;
  margin: auto;
  margin-top: 4em;
  width: 20em;
}

.social-buttons-container {
  padding-top: 5em;
  position: relative;
  margin: auto;
  text-align: center;
  width:100%;
}

.social-links {
  position: relative;
  width:100%;
  text-align: center;
  margin: auto;

}

.social-links a {
  display: inline-block;
  margin-right: 2em;
}

.icon {
  display: inline-block;
  width: 4em;
}

/*Used to have a header that was removed*/
/*.text-over {
  padding-top: 2em;
  margin-left: 2em;
}

#line {
  border-bottom: 1px solid #103d6f;
  margin-left: 2em;
}*/
