header {
  background: url(../imgs/bklyn-bridge-min.jpeg) no-repeat 0 0 fixed;
  background-size: cover;
  background-attachment: fixed;
/*  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  height: 45em;
  width: 100%;
  padding-right: 1em;
  margin-left: -.5em;
  display: block;
}

/*HEADER STYLE*/

.head-container {
  display: block;
  background-color: rgba(157, 166, 176, .25);
  box-shadow: .15em .15em .25em gray;
  width:100%;
  position: relative;
  top: 0;
  margin-top: -.5em;
  padding-right: 1em;
  height: 5.5em;
}

nav {
  overflow: auto;
}

h1 {
  display: inline-block;
  top: 0;
  left: 1em;
  font-size: 2em;
  font-family: 'Oxygen', sans-serif;
  margin: .75em .75em .75em 1.5em;
}

.head-links {
  display: inline-block;
  position: absolute;
  top: .5em;
  right: 0em;
  list-style: none;
}

.head-links li {
  display: inline-block;
  font-size: 1em;
  font-family: 'Ubuntu', sans-serif;
  margin: 1em 1em 1em 1em;
}

#last-nav {
  margin-right: 2em;
}

#current-page a:visited {
  color: #103d6f;
  /*color:#6fbf64;*/
}

a {
  text-decoration: none;
  /*color: #103d6f;*/
  color: white;
}

a:visited {
  /*color: #103d6f;*/
  color: white;
}

a:hover {
  /*color: #6fbf64;*/
  transition: color 0.5s ease;
  color: #103d6f;
}

#index-text {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  margin-left: .5em;
  font-family: 'Ubuntu', sans-serif;
  margin-top: 5em;
}

#index-text > #big-index-text {
  color: #6fbf64;
  font-size: 5em;
  font-family: 'Oxygen', sans-serif;
  margin-bottom: -.10em;
}

#index-text > h2 {
  color: white;
  font-size: 1.25em;
}

/*#brooklyn-text {
  color: #6fbf64;
}*/

#nyc-image-1 {
  background-image: url(../imgs/nyc-street-min.jpeg);
  background-size: cover;
  background-attachment: fixed;
  height: 200px;
  width: 100%;
  padding-right: 1em;
  margin-left: -.5em;
  display: block;
}

#nyc-image-2 {
  background-image: url(../imgs/bklyn-bridge-min.jpeg);
  background-size: cover;
  background-attachment: fixed;
  height: 200px;
  width: 100%;
  padding-right: 1em;
  margin-left: -.5em;
  display: block;
}

/*ABOUT SECTION STYLE*/

#about {
  height: 750px;
  width: 100%;
}

/*PROJECT SECTION STYLE*/

#projects {
  height: 750px;
  width: 100%;
/*  border-top: 5em solid #6fbf64;
  padding-right: 1em;
  margin-left: -.5em;
  margin-bottom: 2em;*/
}

/*CONTACT SECTION STYLE*/

#contact {
  height: 680px;
  width: 100%;
/*  border-top: 5em solid #6fbf64;
  padding-right: 1em;
  margin-left: -.5em;*/
}

/*COPYRIGHT STYLE*/

#copyright {
  color: #6fbf64;
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  margin-left: -.5em;
  padding-right: 1em;
  margin-top: -5em;
}




/*MEDIA QUERIES*/
/*@media screen and (max-width: 450px) {
  h1 {
    font-size: .75em;
  }
  .head-links {
    top: -.5em;
  }
  .head-links li {
    font-size: .25em;
    margin: .25em .25em .25em .25em;
  }
}

@media only screen and (max-width: 750px) and (min-width: 451px) {
    h1 {
    font-size: 1.25em;
  }
  .head-links li {
    font-size: .5em;
    margin: .25em .25em .25em .25em;
  }
}*/




