body {
  background: url(../imgs/bklyn-bridge.jpeg) no-repeat fixed;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}

body {
  /*background: linear-gradient(to left, rgba(111, 191, 100, .40), rgba(16, 61, 111, .25));*/
}

.head-container {
  display: block;
  background-color: rgba(157, 166, 176, .25);
  box-shadow: .15em .15em .25em gray;
  width:100%;
  position: relative;
  top: 0;
  margin-top: -.5em;
  margin-left: -.5em;
  padding-right: 1em;
}

nav {
  overflow: auto;
}

h1 {
  display: inline-block;
  /*position: absolute;*/
  top: 0;
  left: 1em;
  font-size: 2em;
  font-family: 'Oxygen', sans-serif;
  margin: .75em .75em .75em .75em;
}

.head-links {
  display: inline-block;
  position: absolute;
  top: .5em;
  right: 0em;
  list-style: none;
}

.head-links li {
  display: inline-block;
  font-size: 1em;
  font-family: 'Ubuntu', sans-serif;
  margin: 1em 1em 1em 1em;
}

#current-page a:visited {
  color: #103d6f;
}

a {
  text-decoration: none;
  /*color: #103d6f;*/
  color: white;
}

a:visited {
  /*color: #103d6f;*/
  color: white;
}

a:hover {
  /*color: #6fbf64;*/
  color: #103d6f;
}

/*
.main-image {
  display: block;
  position: relative;
  width: 100%;
  margin: auto;
}

img {
  display: block;
  position: relative;
  margin: auto;
  width: 100%;
  max-height: 50%;
  /*bottom: 0;*/
}*/

@media screen and (max-width: 450px) {
  h1 {
    font-size: .75em;
  }
  .head-links {
    top: -.5em;
  }
  .head-links li {
    font-size: .25em;
    margin: .25em .25em .25em .25em;
  }
}

@media only screen and (max-width: 750px) and (min-width: 451px) {
    h1 {
    font-size: 1.25em;
  }
  .head-links li {
    font-size: .5em;
    margin: .25em .25em .25em .25em;
  }
}




