body {
  background-image: url(../imgs/mountains-temp.jpg);
  background-repeat: no-repeat;
  /*background-position: 0 0;*/
  background-size: cover;
}

.head-container {
  display: block;
  background-color: rgba(157, 166, 176, .25);
  width:100%;
  position: relative;
  top: 0;
  margin-top: -.5em;
  margin-left: -.5em;
  padding-right: 1em;
}

nav {
  overflow: auto
}

h1 {
  display: inline-block;
  /*position: absolute;*/
  top: 0;
  left: 1em;
  font-size: 2em;
  font-family: 'Oxygen', sans-serif;
  margin: .75em .75em .75em .75em;
}

.head-links {
  display: inline-block;
  position: absolute;
  top: .5em;
  right: 0em;
  list-style: none;
}

.head-links li {
  display: inline-block;
  font-size: 1em;
  font-family: 'Ubuntu', sans-serif;
  margin: 1em 1em 1em 1em;
}


a {
  text-decoration: none;
  color: #103d6f;
}

a:visited {
  color: #103d6f;
}

a:hover {
  color: #6fbf64;
}

.foot-container {
  position: fixed;
  bottom: 0;
  text-align: center;
  width:100%;
}

.foot-links {
  position: fixed;
  bottom: 0;
  width:100%;
  text-align: center;

}

.foot-links a {
  text-align: center;
  display: inline-block;
  margin-right: 2em;
}

.icon {
  display: inline-block;
  width: 3em;
}




