#projects-head-text {
  clear: both;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  margin-top: 2em;
}

#projects-head-text > h2 {
  color: #6fbf64;
  font-size: 4em;
  font-weight: bold;
  margin-bottom: -.2em;
}

#projects-head-text > h3 {
  color: #103d6f;
  font-size: 1em;
}

.project-links {
  font-family: 'Ubuntu', sans-serif;
  margin: auto;
  border-spacing: 3em;
  padding-right: .5em;
  margin-bottom: 2em;
}

.project-links td {
  margin: 0em 3em 3em 3em;
  padding: 3em;
  border: 2px solid #6fbf64;
  color: #6fbf64;
  text-align: center;
}
.project-links a {
  transition: none;
  color: #103d6f;
}

.project-links td:hover {
  transition: background-color 0.5s ease;
  background-color: #6fbf64;
  border: 1px solid #6fbf64;
}

.project-links tr:visited {
  color: white;
}

.project-links tr a:hover {
  color: white;
}

.project-links span {
  font-size: .5em;
}